.header{
  display: inline;
  background-color: #ffffff;
  color: #7b1bc3;
  font-family: 'Sunflower', sans-serif;
}


.game-title{
  text-align: center;
  color: #000000;
  font-size: 1.5em;
  text-shadow: 1px 1px #7004bf;
}
.instructions{
  margin-left: 10%;
  max-width: 80%;
  text-align: center;
}
.canvas{
  display: block;
  margin: 0 auto;
  width: 60%;
}
